/*
Simple code for creating html to css documents. 
I'm tired of struggling with MS word,
I find it easier to create HTML documents and then print 
them from my browser.

Do not forget in the dialog box to select the right size of your sheet,
select no margins,
and deactivate header and footers which are by default.


Delire Stéphane
*/

/*------------------*/
/* Global variable */
:root {
	--screen_bg_color: #CCC;
	--page_bg_color: #FFF;
	
	/*Colors*/
	--red: #c20a0a;
	--orange: #c2660a;
	--yellow: #c2c20a;
	--ocre: #66c20a;
	--green: #0ac20a;
	--aqua: #0ac266;
	--sky: #0ac2c2;
	--water: #0a66c2;
	--blue: #0a0ac2;
	--purple: #660ac2;
	--pink: #c20ac2;
	--lila: #c20a66;
	
	--black: #0d0d0d;
	--grey: #808080;
	--light: #cccccc;

}



/*------------------*/
/* Pages properties */
page {
	display: block;
	box-sizing: border-box;
	background-color: var(--page_bg_color);
	overflow: hidden;
	position: relative;
	break-inside: avoid;
}

/*Paper size*/
.a3, .A3 {
	width: 297mm;
	height: 420mm;
}
.a4, .A4 {
	width: 210mm;
	height: 297mm;
}
.a5, .A5 {
	width: 148mm;
	height: 210mm;
}
.a6, .A6 {
	width: 105mm;
	height: 148mm;
}

/*Margin*/
.no-margin {
	padding: 0mm;
}
.default-margin {
	padding: 10mm;
}
.small-margin {
	padding: 5mm;
}
.big-margin {
	padding: 20mm;
}

/*------------------*/
/* Font properties */
/*Font size*/
.fs-8 {font-size: 8pt;}
.fs-9 {font-size: 9pt;}
.fs-10 {font-size: 10pt;}
.fs-11 {font-size: 11pt;}
.fs-12 {font-size: 12pt;}
.fs-13 {font-size: 13pt;}
.fs-14 {font-size: 14pt;}
.fs-15 {font-size: 15pt;}
.fs-16 {font-size: 16pt;}
.fs-17 {font-size: 17pt;}
.fs-18 {font-size: 18pt;}

/*Font color*/
red {color: red;}
blue {color: blue;}
green {color: green;}
orange {color: orange;}
purple {color: purple;}
yellow {color: yellow;}
grey {color: grey;}





/*TODO -Header/footer */
/*Page numerotation*/
num {
	position: absolute;
	bottom: 10mm;
	right: 15mm;
}

body {background-color: var(--screen_bg_color);}

/*--------------------------*/
/*On screen representation*/
@media screen {
	page{
		margin: 10px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
	}
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}